@model EmployeeViewModel
<h3 class="p-2 bg-primary text-white text-center">تعديل بيانات موظف</h3> 
<div class="container-fluid mt-3">      
    <form  asp-action="UpdateEmployee" method="POST"> 

        <div class="form-group">           
            <input asp-for="Employee.ID" name="Employee.ID" class="form-control" rows="5" hidden>

            <label asp-for="Employee.Name" class="font-weight-bold"></label>
            <input asp-for="Employee.Name" name="Employee.Name" class="form-control" rows="5">         
        
            <label asp-for="Employee.NationalNumber" class="font-weight-bold"></label>
            <input asp-for="Employee.NationalNumber" name="Employee.NationalNumber" class="form-control" rows="5">

            <label asp-for="Employee.Salary" class="font-weight-bold"></label>
            <input asp-for="Employee.Salary" name="Employee.Salary" class="form-control" rows="5">

            <label asp-for="Employee.CareerID" class="font-weight-bold"></label>  
            <select asp-for="Employee.CareerID" class="form-control" asp-items="Model.Careers">  
            </select>          
        </div>

        <div class="form-group">          
            <label >Gender</label>
            <select asp-for="Employee.Gender" class="form-control"  rows="5">
                <option selected="selected" value="true">-- Select Gender --</option>
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>              
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-0"></div>
                <div class="col-3">                  
                    <div class="checkbox">
                        <input type="checkbox" asp-for="Employee.isProcurementOfficials" />
                        <label asp-for="Employee.isProcurementOfficials"> Procurement Officials</label>
                    </div>
                </div>             
            </div> 
        </div>

        <div class="form-group">                                                                
            <label asp-for="Employee.Description" class="font-weight-bold"></label>
            <input asp-for="Employee.Description" name="Employee.Description" class="form-control">                                                            
        </div>   
        
        <div class="text-right">
            <div class="form-group">                      
                <button class="btn btn-primary"  type="submit">Save</button>                      
            </div>  
        </div>                                                               

    </form>            
</div>