@model EquipmentDefaultMeasurementType
<h3 class="p-2 bg-primary text-white text-center">تعديل شكل وحدة قياس خاصة بالمعدات </h3> 
<div class="container-fluid mt-3">      
    <form asp-action="UpdateEquipmentDefaultMeasurementType" method="POST">
        <div class="row p-2"> 
            <div class="col-1"></div>
                <input asp-for="ID" name="ID" class="form-control" hidden>        
            <div class="col">
                <label asp-for="Name" class="font-weight-bold"></label>
                <input asp-for="Name" name="Name" class="form-control">
            </div>          
            <div class="col">
                <label asp-for="Description" class="font-weight-bold"></label>
                <input asp-for="Description" name="Description" class="form-control">                                    
            </div>
            <div class="col">                     
                <div class="row">
                   <label class="font-weight-bold text-white">|</label>                    
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>                                              
            </div>
        </div>
    </form>            
</div>