@model EDMTEViewModel
<h3 class="p-2 bg-primary text-white text-center">إضافة موظف جديدة</h3> 
<div class="container-fluid mt-3">      
    <form  asp-action="UpdateEDMTE" method="POST"> 

        <div class="form-group">
            <input asp-for="EDMTE.ID" name="EDMTE.ID" class="form-control" rows="5" hidden>

            <label asp-for="EDMTE.MeasureName" class="font-weight-bold"></label>
            <input asp-for="EDMTE.MeasureName" name="EDMTE.MeasureName" class="form-control" rows="5">
           
            <label asp-for="EDMTE.EquipmentID" class="font-weight-bold"></label>  
            <select asp-for="EDMTE.EquipmentID" class="form-control" asp-items="Model.Equipments"></select>  
          
            <label asp-for="EDMTE.EquipmentDefaultMeasurementTypeID" class="font-weight-bold"></label>  
            <select asp-for="EDMTE.EquipmentDefaultMeasurementTypeID" class="form-control" asp-items="Model.EquipmentDefaultMeasurementTypes"></select>            
                    
        </div>    
        
        <div class="text-right">
            <div class="form-group">                      
                <button class="btn btn-primary"  type="submit">Save</button>                      
            </div>  
        </div>                                                               

    </form>            
</div>